@media screen {
    html,
    body {
        height: 100%;
    }

    .body {
        width: 100%;
        overflow-x: hidden;

    }

    .container-fluid {
        padding: 0 !important;
    }

    .navegacao {
        height: 300px !important;
        background: url('../images/ufmt-biblioteca.png') no-repeat !important;
        background-position: 0% 50% !important;
    }

    .menudenavegacao {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

    }

    .titulonavegacao {
        color: white;
        font-family: Bebas Neue;
        font-size: 90px;
        text-align: center;
    }

    .tituloinicial {
        color: white;
        height: 200px;
        margin-bottom: 60px;
        font-family: Bebas Neue;
        font-size: 90px;
        text-align: center;
    }

    .noticiadeDE {
        margin-left: 12px;
    }

    /**Sub Navigation**/
    .subnavigation-container {
        background: #3d6277;
    }

    .subnavigation .nav-link {
        color: white;
        font-weight: bold;
    }

    .subnavigation-container {
        text-align: center;
    }

    .subnavigation-container .navbar {
        display: inline-block;
        margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
    }

    .col-subnav a {
        padding: 1rem 1rem;
        color: white;
        font-weight: bold;
    }

    .col-subnav .active {
        border-top: 5px solid orange;
        background: white;
        color: black;
    }

    .botao {
        width: 100px;
        height: 47px;
        color: #fff;
    }

    footer {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .linksocial {

        background-color: #007bff;
        color: black;

    }

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
    }

    .facebook {
        max-width: 70px;
        max-height: 70px;
    }

    .instagram {
        max-width: 35px;
        max-height: 35px;
    }

    .tabelaPesquisa {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .radios {
        margin-top: 14px;
        position: relative;
        margin-left: 55%;
    }

    .radio1 {
        margin-left: 10px;
        font-family: 'Linux Libertine';
    }

    .fontbebas {
        font-family: 'Bebas Neue';
    }

    .fontRoboto {
        font-family: 'Roboto';
    }

    .posicaomenu {
        margin-top: 10px;

    }

    .pesquisapor {
        position: relative;
    }

    .opcaodepesquisa {
        margin-left: 5%;
        margin-top: 5px;
    }

    .opcaodepesquisa2 {
        margin-left: 60%;
    }

    .slidepersonalizado {
        left: 20%;
        width: 55%;
    }

    .titulolab {
        margin-top: 5%;
        font-size: 80px;;
    }

    .zoom {
        overflow: hidden;
    }

    .zoom img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

    .zoom:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .text-item {
        position: absolute;
        left: 5%;
        right: 5%;
        bottom: 20px;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #ffffff;
        text-align: center;
        font-weight: 700;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    }

    .slidecomtexto {
        margin-top: 90px;
    }

    .descricaopost {
        color: black;
        display: inline-block;
        font-family: HelveticaNeue-Light;
    }

    .maisinformacao {
        margin-top:5%;
        color: whitesmoke;
        font-family: Helvetica;
        text-align: center;

    }

    .maisinformacao:hover, .active {
        color: white;
    }

    .mainsinformacao:hover, .default {
        color: deepskyblue;
    }

    .descricaopost:hover, .active {
        color: black;
    }

    .descricao {
        right: 170px;
        text-indent: 4em;
    }

    .linhaabaixo {
        margin-top: 20px;
    }

    .slideprincipal {
        margin: 0 auto;

    }

    .responsaveis {
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .noticias {
        margin-top: 15%;
        margin-bottom: 10%;
    }

    .fundoredessociais {
        background-image: url('../images/Fundoredessociais.jpg');
        position: absolute;
        width: 100%;
        height: 120%;
    }

    .fundodescricaoslide {
        background-color: black;
        opacity: 0.15;
        -moz-opacity: 0.15;
        filter: alpha(opacity=15);

    }

    .tabelaresponsaveistd {
        border: none !important;
    }

    .rodape {
        width: 100%;
        margin-top: 10%;
        top: 100px;
        padding: 75px;
        color: white;
        text-align: center;
        background: #1b1e21;
    }

    .tela {
        height: 100%;
    }

    .tituloderedesocial {
        font-family: Rushtard Brush;
        text-align: center;
        font-size: 220px;
        color: white;
        background-color: #1b1e21;
    }

    .titulodepatente {
        font-family: Rushtard Brush;
        text-align: center;
        font-size: 190px;
        margin-bottom: 2%;
        opacity: 1.0;
    }

    .swiper-container {
        width: 600px;
        height: 300px;
    }

    .descricaodepatente {
        font-size: 15px;
    }

    .patentesemdestaque {
        background-image: url('../images/fundoabstrato.jpg');
        position: absolute;
        width: 100%;
        height: 120%;
        opacity: 0.35;
    }

    .topo {
        margin-top: 5%;
    }

    .titulonoticia {
        font-family: Helvetica;
    }

    @font-face {
        font-family: Bebas Neue;
        src: url('Font/BebasNeue-Regular.otf');
    }
    @font-face {
        font-family: Geo;
        src: url('Font/GeosansLight.ttf');
    }
    @font-face {
        font-family: Rushtard Brush;
        src: url('Font/Rushtard Brush.otf')
    }
    @font-face {
        font-family: Helvetica;
        src: url('Font/Helvetica.ttf');
    }
    #editor, #preview {
        width: 100%;
    }

    #editor {
        min-height: 200px;
    }

    .imagem {
        max-width: 200px;
        max-height: 150px;
        width: auto;
        height: auto;
    }

    .paginacao {
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    .titulo {
        font-family: Bebas Neue;
        font-size: 90px;
        margin-bottom: 3%;
        margin-top: 5%;
        text-align: center;
    }

    .post {
        margin-top: 5%;
    }

    .titulopost {
        font-family: Bebas Neue;
        font-size: 80px;
        margin-bottom: 2%;
        text-align: left;
    }

    .background {
    }

    .titulonav {
        color: white !important;
    }

    .titulopostcard {
        font-family: Bebas Neue;
        font-size: 45px;
        margin-bottom: 2%;
        text-align: left;
    }

    .descricaotitulo {
        margin-top: 50px;
        font-family: Geo;
        font-size: 20px;
    }

    .saibamais {
        margin-top: 5%;
    }

    .botaoseguinte {
        margin-left: 70%;
    }

    .posicaobotao {
        margin-top: 20%;
    }

    .CadastroLab {
        margin-bottom: 4%;
    }

    .Login {
        right: 100%;
    }

    .telacheia {
        display: 100%;
    }

    .tabeladatatable {
        margin-bottom: 40%;
    }

    .titulocontato {
        font-family: Bebas Neue;
        font-size: 70px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .titulocadastrar {
        font-family: Geo;
        font-size: 50px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .coluna {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .titulopesquisa {
        font-size: 70px;
        font-family: Bebas Neue;
    }

    .pesquisa {
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .icones {
        font-size: 100px;
    }

    .pesquisarlab {
        margin-top: 10%;
    }

    .pesquisadescricao {
        margin-top: 25%;
        margin-bottom: 10%;
        margin-left: 5%
    }

    .espacamentoparaonav {
        margin-right: 10%;
    }
}
@media (max-width: 360px){
    .titulodepatente {
        magin-top:10%;
        font-family: Rushtard Brush;
        text-align: center;
        font-size: 70px;
        margin-bottom: 2%;
        opacity: 1.0;
    }
    .slideprincipal {
        margin: 0 auto;
        margin-left:1%;
        margin-right:1%;
    }
}